@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aceh';
  src: url('/fonts/Aceh-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Goldman';
  src: url('/fonts/Goldman/Goldman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Ensuring that all elements include padding and borders in their box model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%; /* Ensures that the html element takes up the full width */
  overflow-x: hidden; /* Prevents horizontal overflow */
}

body {
  font-family: 'Aceh', sans-serif;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  width: 100%; /* Ensures body does not overflow the width of html */
  overflow-x: hidden; /* Prevents horizontal overflow */
}

/* Responsive Typography */
html {
  font-size: 16px; /* Base font size */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Smaller font size on smaller screens */
  }
}
