input[type="radio"].custom-radio {
  appearance: none;
  border: 1px solid #000;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
}

input[type="radio"].custom-radio:checked::before {
  content: '';
  display: block;
  width: 8px; /* Adjusted the width */
  height: 8px; /* Adjusted the height */
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the pseudo-element */
}
